[Unit]
Description=Newsboy Service
After=network.target

[Service]
Type=simple
# or any user with permission to access the binary
User=root
# or any group with permission to access the binary
Group=root
ExecStart=/opt/newsboy/bin/newsboy
Restart=always
RestartSec=10
WorkingDirectory=/opt/newsboy

[Install]
WantedBy=multi-user.target
